@import url("https://fonts.googleapis.com/css?family=Montserrat");

.app {
  background-color: #faf9f8;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
